# Database
DB_URL="postgres://username:password@host:5432/database"
GOOSE_DBSTRING="postgres://username:password@host:5432/database"
GOOSE_DRIVER="postgres"
GOOSE_MIGRATION_DIR="./database/schema"

# Server config
PORT=8080
IS_DEVELOPMENT=false

# Google Auth
GOOGLE_CLIENT_ID=<CLIENT_ID>

# Session - https://pkg.go.dev/github.com/gorilla/sessions#section-readme
SESSION_KEY=<RANDOM_SESSION_KEY>
DOMAIN=<example.com> # This is to restrict the cookies